@font-face {
    font-family: "EncodeSans Light";
    src: url("fonts/EncodeSans/EncodeSans-Light.woff2") format("woff2"), url("fonts/EncodeSans/EncodeSans-Light.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 300
}
@font-face {
    font-family: "EncodeSans Medium";
    src: url("fonts/EncodeSans/EncodeSans-Medium.woff2") format("woff2"), url("fonts/EncodeSans/EncodeSans-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 500
}
@font-face {
    font-family: "EncodeSans SemiBold";
    src: url("fonts/EncodeSans/EncodeSans-SemiBold.woff2") format("woff2"), url("fonts/EncodeSans/EncodeSans-SemiBold.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 600
}
@font-face {
    font-family: "EncodeSans Bold";
    src: url("fonts/EncodeSans/EncodeSans-Bold.woff2") format("woff2"), url("fonts/EncodeSans/EncodeSans-Bold.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 700
}


/* WEIGHTS ADJUSTMENTS */
.ff-lead-300 {
    font-weight: 300;
}
.ff-lead-500 {
    font-weight: 500;
}
.ff-lead-600 {
    font-weight: 600;
}
.ff-lead-700 {
    font-weight: 700;
}