


/* WEIGHTS ADJUSTMENTS */
.ff-lead-300 {
    font-weight: 300;
}
.ff-lead-400 {
    font-weight: 400;
}
.ff-lead-500 {
    font-weight: 500;
}
.ff-lead-600 {
    font-weight: 600;
}
.ff-lead-700 {
    font-weight: 700;
}