
#dsg__nav a {
    display: flex;
    text-transform: uppercase;
    font-size: var(--dsg-fontSizes-3);
    font-family: var(--dsg-fontFamilies-lead-700);
    font-weight: 700;
    color: var(--dsg-colors-primary-300);
    text-decoration: none;
    padding: var(--dsg-spacings-4) 0;
    line-height: 1em;
}
#dsg__nav a.active {
    color: var(--dsg-colors-primary-100);
}