
[class*="w-1t"],
[class*="w-2t"],
[class*="w-3t"],
[class*="w-4t"],
[class*="w-5t"],
[class*="w-6t"],
[class*="w-7t"],
[class*="w-8t"],
[class*="w-9t"],
[class*="w-10t"],
[class*="w-11t"],
[class*="w-12t"] {
    --wtw-fraction: var(--twelves, -);
    --wtw-total-amount-of-fractions: 12;
    --wtw-item-default-width: calc(100% * var(--wtw-fraction) / var(--wtw-total-amount-of-fractions));
    --wtw-item-offset: calc(var(--wtw-fraction) * var(--dsg-gap, 0px) * ((var(--wtw-total-amount-of-fractions) / var(--wtw-fraction)) - 1) / var(--wtw-total-amount-of-fractions));
    width: calc(var(--wtw-item-default-width) - var(--wtw-item-offset));
    box-sizing: border-box;
}