
#dsg__nav a {
    text-transform: uppercase;
    font-size: var(--dsg-fontSizes-2);
    font-family: var(--dsg-fontFamilies-lead-700);
    font-weight: 700;
    color: var(--dsg-colors-primary-300);
    text-decoration: none;
    padding: var(--dsg-spacings-4) 0;
    border-bottom: 3px solid transparent;
}
#dsg__nav a.active {
    color: var(--dsg-colors-primary-100);
    border-bottom-color: var(--dsg-colors-primary-100);
}